html {
	height:100%;
	margin:0;
	padding:0;
}

body {
	margin:0;
	height:100%;
}

/*----------- Name and Navigation Buttons -------------*/
.white {
	background-color: #ffffff;
	width:100%;
	height:80px;
	border-bottom:solid 4px;
	border-color:#cccccc;
}
.navMain {
	height:80px;
	width:960px;
	margin-left:150px;
}

.header {
	color:white;
	background-color:#4aaaa5;
 	float:left;
 	height:40px;
	padding:20px 30px;
	font-size:35px;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	line-height:40px;
	font-weight:900;
}

.navMain ul {
	margin-top: 0;
	margin-bottom: 0;
	display:inline-block;
	list-style-type: none;
	float:right;
	height:30px;
}

.navMain ul li {
	font-family:Arial;
	font-size:18px;
	float:left;
	padding-top
}

.menuButton {
	color:#777777;
	text-decoration:none;
	display:inline-block;
	padding:0 15px;
	float:left;
	margin-top:30px;
}

.menuButtonPortfolio {
	color:#777777;
	text-decoration:none;
	display:inline-block;
	padding:0 15px;
	float:left;
	margin-top:30px;
	border-right:2px solid #777777;
	border-left:2px solid #777777;;
}

/*--------------- About Me Connect with Me -----------------*/

.aboutMe {
	width:590px;
	background-color:#ffffff;
	float:left;
	padding:20px 30px;
}

.connectWithMe {
	width:210px;
	background-color: #ffffff;
	display:inline-block;
	float:right;
	padding:20px 30px 20px 30px;

} 

#mainHeader {
	color:#4aaaa5;
	font-size:30px;
	padding:15px 0;
	font-family: 'Georgia';
	font-weight:700;
}

.profilePic {
	margin:20px 0 10px 0;
	width:245px;
	float:left;
	padding-right:30px;
}

p {
	margin-top:20px;
	padding:0px 0 10px 0;
	line-height:200%;
	font-family:'Helvetica Neue';
	font-size:15px;
	color:#777777;
}

.connectWithMe h2 {
	color:#4aaaa5;
	font-size:26px;
	font-weight:800;
	padding-bottom:10px;
}

#linkedIn {
	padding:0 5px;
}

/*---------- Portfolio css --------------*/

.portfolio {
	width:590px;
	background-color:#ffffff;
	float:left;
	padding:20px 30px;
}

.image img {
	width: 270px;
	display:inline-block;
	position:relative;
}

#imageHangman {
	margin: 20px 0 30px 0;
	float:left;
}

#imageRPGGame {
	margin: 20px 0 30px 0;
	float:right;
}

#imageTriviaGame {
	margin:30px 0;
	float:left;
}

#imageRudgersInfoWidget {
	margin:30px 0;
	float:right;
}

#imageRockPaperScissors {
	margin:30px 0;
	float:left;
}

#imageHangman h2 {
	top:380px;
	position:absolute;
	width:270px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
	font-family: Arial;
}

#imageRPGGame h2 {
	top:380px;
	position:absolute;
	width:270px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
	font-family: Arial;
}

#imageTriviaGame h2 {
	top:645px;
	position:absolute;
	width:270px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
	font-family:Arial;

}

#imageRudgersInfoWidget h2 {
	top:645px;
	position:absolute;
	width:270px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
	font-family:Arial;

}

#imageRockPaperScissors h2 {
	position:absolute;
	width:270px;
	top:910px;
	background-color:#4aaaa5;
	color:#ffffff;
	padding:15px 0;
	text-align:center;
	font-family:Arial;
}
/*------------- Contact css ---------------*/

.contact {
	width:590px;
	background-color:#ffffff;
	float:left;
	padding:20px 30px;
}

input[type=text] {
	width:100%;
	padding:5px 0;
	margin:5px 30px 0 0;
	font-size: 15px;
}

textarea {
	padding:5px 0;
	width:100%;
	height:150px;
	margin:5px 30px 0 0;
}

input[type=submit] {
	background-color:#4aaaa5;
	border:none;
	color:white;
	font-size:15px;
	font-family:'Helvetica';
	padding:10px 30px;
	margin-bottom: 20px;
}

label[for=name], label[for=email], label[for=message] {
	font-family:'Helvetica';
	font-size:18px;
	color:#777777;
}

.container {
	width:960px;
	display:inline-block;
	margin:30px 30px 120px 150px;
}

.footer {
	width:100%;
	background:#666666;
	text-align:center;
	padding:30px 0;
	color:#ffffff;
    border-top:solid 6px;
	border-color: #4aaaa5;
	position:absolute;
	left:0px;
	bottom:0px;
	margin-top:20px;
}

.wrapper {
	min-height:100%;
	position:relative;
}

/*------------------------Media Queries-------------------------------*/

@media screen and (max-width:1110px) {
	.navMain, .container {
		margin-left:60px;
	}
	.footer, .white {
		width:100%;
	} 
}
@media screen and (max-width:1060px) {
	.footer, .white {
		width:100%;
	} 
	.navMain, .container {
		margin-left:50px;
	}
}
@media screen and (max-width:1040px) {
	.footer, .white {
		width:100%;
	} 
	.navMain, .container {
		margin-left:40px;
		margin-right:20px;
	}
}
@media screen and (max-width:1020px) {
	.footer, .white {
		width:100%;
	} 
	.navMain, .container {
		margin-left:30px;
	}
}
@media screen and (max-width:980px) {
	.header {
		position:static;
		font-size:35px;
		font-weight: 900;
	}
	.container, .navMain{
		width:800px;
	}
	#imageHangman, 
	#imageRPGGame, 
	#imageTriviaGame, 
	#imageRudgersInfoWidget,
	#imageRockPaperScissors 
	{
		width:100%;
		height:autol;
	}
	.aboutMe, .contact, .portfolio{
		width:430px;
	}
	.profilePic {
		width:100%;
		height:auto;
	}
	
	#imageRPGGame, #imageRudgersInfoWidget {
		float:left;
	}
	.image img {
		width:100%;
		height:auto;
	}
	
	#imageHangman h2, 
	#imageRPGGame h2, 
	#imageTriviaGame h2, 
	#imageRudgersInfoWidget h2,
	#imageRockPaperScissors h2 
	{
		width:430px;
		position:absolute;
		font-size:25px;
	}
	#imageHangman h2 {
		top:485px;
	}
	#imageRPGGame h2 {
		top:860px;
	}
	#imageTriviaGame h2 {
		top:1245px;
	}
	#imageRudgersInfoWidget h2 {
		top:1632px;
	}
	#imageRockPaperScissors h2 {
		top:2020px;
	}
	.footer, .white {
		width:100%;
	}
}

@media screen and (max-width:768px) {
	.navMain{
		width:90%;
	}
	.navMain ul {
		float:right; 
		margin-left:10px;
	}
	.wrapper {
		width:100%;
	}
	.header {
		position:static;
	}
	.connectWithMe {
		width:430px;
		float:left;
		margin-top:30px;
	}
	.aboutMe, .contact, .portfolio, .connectWithMe  {
		width:640px;
	}
	.container {
		width:700px;
		margin-left: 30px;
	}
	.image img {
		width:290px;
	}
	#imageHangman, 
	#imageRPGGame, 
	#imageTriviaGame, 
	#imageRudgersInfoWidget,
	#imageRockPaperScissors {
		width:290px;
	}
	#imageHangman h2, 
	#imageRPGGame h2, 
	#imageTriviaGame h2, 
	#imageRudgersInfoWidget h2,
	#imageRockPaperScissors h2 
	{
		width:290px;
		position:absolute;
		font-size:20px;
	}
	#imageRPGGame, #imageRudgersInfoWidget {
	 	float:right;
	}
	#imageHangman h2, #imageRPGGame h2 {
		top:390px;
	}
	#imageTriviaGame h2, #imageRudgersInfoWidget h2 {
	 	top:670px;
	}
	#imageRockPaperScissors h2 {
		top:950px;
	}
	.footer, .white {
		width:100%;
	}

@media screen and (max-width:640px) {
	.footer, .white {
		width:100%;
	}
	.header {
		padding:20px;
		width:600px;
		text-align: center;
	}
	.navMain {
		margin-left:0;
		width:90%;
		margin-right:0;
	}
	.white {
		height:150px;
	}
	.aboutMe, .contact, .portfolio, .connectWithMe  {
		width:540px;
	}
	.profilePic {
		width:100%;
		height:auto;
	}
	.navMain ul { 
		margin-left:0;
		float:left;
		height:80px;
		width:600px;
		padding-left:40px;
	}
	.navMain ul li{
		font-size:20px;
		padding-right:15px;
		padding-left:15px
	}
	.container {
		width:580px;
		margin-right:0;
	}
	#imageRPGGame, #imageRudgersInfoWidget {
	 	float:left;
	}
	.menuButtonPortfolio {
		padding:0 60px;
		margin-right:35px;
		margin-left:35px;
	}
	.image img {
		float:left;
		width:540px;
	}
	#imageHangman h2, 
	#imageRPGGame h2, 
	#imageTriviaGame h2, 
	#imageRudgersInfoWidget h2,
	#imageRockPaperScissors h2 
	{
		width:540px;
		position:absolute;
		font-size:20px;
	}
	#imageHangman h2 {
		top:650px;
	}
	#imageRPGGame h2 {
		top:1108px;
	}
	#imageTriviaGame h2 {
		top:1575px;
	}
	#imageRudgersInfoWidget h2 {
		top:2044px;
	}
	#imageRockPaperScissors h2 {
		top:2512px;
	}
}
@media screen and (max-width:375px) {
	.white, .content, .header, .navMain ul, {
		width:375px;
	}
	.white {
		height:110px;
	}
	.navMain ul li {
		font-size:10px;
		padding-right:0;
		padding-left:0
	}
	.menuButtonPortfolio {
		padding:0 38px;
		margin-right:35px;
		margin-left:35px;
	}
	.connectWithMe, .aboutMe {
		width:300px;
	}
	.header {
		padding:20px 0;
		width:375px;
		font-size:25px;
	}
	.connectWithMe h2 {
		font-size:15px;
	}
	.container {
		width:365px;
		margin-left:10px;
		margin-top:10px;
	}
	.navMain ul {
		width:100%;
		margin-top:0x;
		height:40px;
	}
	.aboutMe, .connectWithMe, .contact, .portfolio {
		width:290px;
	}
	#mainHeader {
		font-size:20px;
	}
	.menuButton, .menuButtonPortfolio {
		margin-top:10px;
	}
	.image img {
		float:left;
		width:100%;
		height:auto;
	}
	#imageHangman h2, 
	#imageRPGGame h2, 
	#imageTriviaGame h2, 
	#imageRudgersInfoWidget h2,
	#imageRockPaperScissors h2 
	{
		width:290px;
		position:absolute;
		font-size:15px;
	}
	#imageHangman h2 {
		top:400px;
	}
	#imageRPGGame h2 {
		top:667px;
	}
	#imageTriviaGame h2 {
		top:945px;
	}
	#imageRudgersInfoWidget h2 {
		top:1222px;
	}
	#imageRockPaperScissors h2 {
		top:1500px;
	}
}